// Here you can add other styles
@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Rubik:ital,wght@1,500&display=swap');
 


/* ---------------------Browser Scroll bar style  ---------------------*/ 
* {    scrollbar-width: thin;    scrollbar-color:#666666 #ccc;    }  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {  width: 7px; height:7px;}
  *::-webkit-scrollbar-track {  background:#ccc;   cursor: pointer;   }
  *::-webkit-scrollbar-thumb {  background-color:#666666; }
  *::-webkit-scrollbar-thumb:hover { background:rgb(1, 104, 250); }
  * {
    box-sizing: border-box;
  }  

  html{ height:calc(100% - 0px);} 

  /*------------------------- coommon class -------------------------*/
  .fw-600{ font-weight: 600;   }
  .container {  width: 1440px;  padding-left: 1.75rem; padding-right: 1.75rem; margin: auto; }
  .container-home {    width: 1200px;  padding-left: 0rem; padding-right:0rem; margin: auto; 
    h2{font-size: 40px;  font-style: normal;  font-weight: 400;  line-height: 50px;  }  
    .heading2{font-size: 40px;  font-style: normal;  font-weight: 400;  line-height: 50px;  margin: 30px 0px;  } 
    .heading3{font-size: 30px;  font-style: normal;  font-weight: 600;  line-height: 35px;  margin: 20px 0px;  } 
    .heading4{font-size: 25px;  font-style: normal;  font-weight: 600;  line-height:25px;  margin: 10px 0px;  } 
    p{ font-size: 14px; line-height: 24px;  }
  }
.container-full { margin: auto;  width: 100%; /*padding-left: 1.5rem;  padding-right: 1.5rem;*/     }
.container-fluid{margin: auto; position: relative;   max-width:100%;  padding-left: 7rem;  padding-right: 7rem;  } 
 
.splitter-container{ height: calc(100vh - 10em); position: relative;} 


.text-xs{ font-size: 12px!important;}
section{ padding: 50px 0px;}
button{ cursor: pointer;}
a{ cursor: pointer;}
  .main-container{     float: left; padding: 24px;  width: calc(100% - 270px);  margin: auto;  }
 
  .chiplabels{
    span{ background: #b7cdfb;   border-radius: 15px; padding: 5px 10px;  display: inline-block;  float: left; margin: 5px; }
  }

.after-login-header{  margin-top: 7px; margin-bottom: 10px;  border-bottom: 1px solid   #DFE2E5; padding: 0px 15px 5px 15px; 
.logoicons{  width: 40px;  float: left;  margin-right: 5px;margin-top: 5px;}
.logo{  width: 135px;  float: left;  margin-right: 5px; }
.projectName{padding:  0px 0px 10px 0px; font-size: 18px; font-weight: 800;overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis; }
.createproject{ padding: 11px  0px 10px 0px;     display: inline-block;}
.selectedservay{ background: $primaryblue; font-size: 12px; border-radius: 5px; padding: 2px 5px; color: #fff;}
}

.afterSend-message-show{ text-align: left; font-size: 14px;}
// .afterlogin{ background:  #F8F9FA; width: 240px;}

.resultpage-header{ margin: 0px 0px 0px 0px;}
.icon-size{ font-size: 14px; cursor: pointer;}
  .left-navigation{float: left; padding: 15px; width: 270px;    height:94vh;    flex-direction: column;   background:#F8F9FA;
  ul{ margin: auto; padding: 0px; list-style: none;
    li{ margin: 3px 0px;}
   a{  padding: 15px 16px;  display: block; width: 100%; color: $text-color;font-weight: 500;   } }
 
  .active{  padding: 15px 16px;     border-radius: 8px;    background: #FFF; color: $text-color; }
  
  }
  .gridMenu{ position: absolute;  z-index: 1; background: #FFF;  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12); padding: 10px; border-radius: 10px;
    ul{ list-style: none; margin: 0px; padding: 0px; min-width: 150px;}
    ul li{text-align: left; padding: 5px 10px; cursor: pointer;} 
    ul li:hover{ color: #0051FA;}
  }
  .result-action-bottom-bar{position:sticky; bottom: 0; border-top: rgba(0, 0, 0, 0.12) solid 1px; left: 0px; padding: 10px 0px; z-index: 5; bottom:0; background:#fff; width:100%; margin: 10px 0px;}
  .project-name{max-width: 73%;    display: inline-block;    overflow: hidden;    text-overflow: ellipsis;    line-height: 27px;}



  .slide {  position: relative;     left: -2.4%;  width: 100%;  height: 700px; border-radius: 0px 0px 15px 15px;}
.show {  position: absolute;  width: 100%;  height: 100%;  display: flex;  justify-content: center;  align-items: center;  text-align: center;  animation: fade 1.5s ease-in-out;}
.show > div {  width: 100%;  height: 100%;}
.slide img{border-radius: 0px 0px 15px 15px;  width: 1200px;}
// .slide img {  width: 100%;  height: 100%;}
@keyframes fade {  from {    opacity: 0.1;  }  to {    opacity: 1;  }}
.not-show {  display: none;}
.prev {  position: absolute;  top: 50%;  left: 1px;  transform: translateY(-50%);}
.next {  position: absolute;  top: 50%;  right: 1px;  transform: translateY(-50%);}  
.dot {  cursor: pointer;  height: 5px;  width: 20px;  margin: 0 2px;  background-color: #ddd;  display: inline-flex;
  transition: background-color 0.6s ease;}
  
// -------------------- button style
.link-text{ color:$primaryblue;}
.icon-btn-sm{ min-height: 34px; min-width: 45px!important; @extend .linkbtn; i{ font-size:15px;} }
.icon-btn{ min-height: 34px; min-width: 45px!important; @extend .linkbtn; i{ font-size: 20px;} }
  .linkbtn{ padding: 10px 16px;     align-items: center; border-radius: 8px;  }
  .outline-btn{ @extend .linkbtn;     border: 1px solid #DFE2E5;    background: #FFF;}
  .link-btn{ @extend .linkbtn;     border: 1px solid $primaryblue; color:#fff!important;    background: $primaryblue;}

  .connect-btn{width: 100%;  color:  $primaryblue!important;    padding: 6px 12px;    justify-content: center;    align-items: center;    gap: 8px; border-radius: 8px;  border: 1px solid  #DFE2E5!important;    background: #FFF!important;}
  .getstart-btn{width: 100%;  color:  $primaryblue!important;    padding: 6px 12px;    justify-content: center;    align-items: center;    gap: 8px; border-radius: 8px;  border: 1px solid  #DFE2E5!important;    background: #FFF!important;}
  .disconnect-btn{ width: 100%; background: #c2ffad!important; color: #39901a!important; text-align: center; font-weight: 700;     padding: 10px 12px;    justify-content: center;    align-items: center;    gap: 8px; border-radius: 8px; border: 1px solid  #c2ffad!important; 
  a{ color: $text-color; font-size: 18px;}
  }
 
 
.dataListcard{
  .connect-btn{ display: block;}
  .getstart-btn{ display: none;}
  &:hover{ background: $primaryblue;
  .cardMedia{ background-color: #fff;}
  p{ color: #fff; }
  h5{ color: #fff; }
  .connect-btn{ display: none;}
  .getstart-btn{ display: block;}
  }}

.switch {  position: relative;  display: inline-block;  width: 60px;  height: 28px;  margin: 0px 0px -10px 15px;
 input { margin-left: 8px;   opacity: 0 !important;;  width: 0;  height: 0;} 
.slider {  position: absolute;  cursor: pointer;  top: 0;  left: 0;  right: 0;  bottom: 0;  background-color: #39383d;  -webkit-transition: .4s;  transition: .4s;} 
.slider:before {  position: absolute;  content: "";  height: 22px;  width: 22px;  bottom:3px; margin: 0 2px 0 2px;  background-color: white;  -webkit-transition: .4s;  transition: .4s;}
input:checked + .slider {  background-color: #2dd158;}
input:checked + .slider:before {   right: 0;}
// input:focus + .slider {  box-shadow: 0 0 1px #2196F3;}
// input:checked + .slider:before {  -webkit-transform: translateX(26px);  -ms-transform: translateX(26px);  transform: translateX(26px);}
/* Rounded sliders */
.slider.round {  border-radius: 34px;}
.slider.round:before {  border-radius: 50%;}
}
/* loginPage */
.loginPage{
  .forgot-password{ padding: 12px 0px;}
  h3{ text-align: center;     font-size: 32px;    line-height: 38.9px;}
  .logo{ width: 300px;}
   .loginSection{ margin: 20px 0px;}
  .inputBox{ width: 100%;}
  FormControl{  width: 100%;}
  .right-sidebar{ height: 100vh;
    padding: 0px 50px;}
    .img-sidebar{ width: 100%; margin: 50px 0px 0px 0px;}


}
 



  /* --------------------------- pipeline-monitoring --------------------------- */
.pipelinecout-containor {width: 100%;position: relative;margin: -5px 0px 0px 0px;
  .source-pipeline { z-index: 10;position: relative;float: left;margin: 21px 3px 0;background: $color_gothic_approx;height: 15px;
width: 15px;  }
  .pipelinecout {padding-top: 20px;overflow: hidden;white-space: nowrap;
   &::before {  width: 95%;  height: 10px;  content: ' ';  position: absolute;  border-top: #799ba4 solid 1px;  left: 4px; right: 0px;  top: 28px;}
  span {  background: #009efb;  position: relative;  border-radius: 3px;  margin: 0 5px;  height: 15px;  width: 15px;  display: inline-block;
  b {position: absolute;top: -18px;background: #fc8a8a;width: 15px;height: 15px;text-align: center;font-size: 11px; margin: -1px 0px 0px 0px;border-radius: 3px; 
      &::after {  width: auto;  height: 5px;  bottom: -10px;  left: 3px;  content: ' ';  position: absolute; border-top: #fc8a8a solid 5px;border-bottom: transparent solid 5px;  border-right: transparent solid 5px;  border-left: transparent solid 5px;}
  }
  } }
 .source-pipeline { 
  &::before {content: "\f0d9";font-family: $font_Awesome; position: absolute;top: -2px;left: 5px;    }
 }
.target-pipeline { z-index: 10; position: relative; float: right;  margin: 21px 0 0; background: $color_gothic_approx; height: 15px; width: 15px;
  &::before {content: "\f0da";font-family: $font_Awesome; position: absolute;top: -2px;left: 5px;    }
 }
}


.statuscompleted .completed::after{display: inline-block; content: "\f00c";        font-family: $font_Awesome;  text-transform: capitalize;  color: #3fa209;     }
 
.statuscompleted .stopped::after{display: inline-block; content: "\f04d";        font-family: $font_Awesome;  text-transform: capitalize;  color: #FFA500;   }
.statuscompleted .running::after{display: inline-block; content: "\f04b";        font-family: $font_Awesome;  text-transform: capitalize;  color:#3fa209; }

/* --------------------------- pipeline-monitoring / --------------------------- */

  /* --------------------------- Data profiling --------------------------- */
.list-custom{    padding: 0px;
  .css-ttencl-MuiListItemIcon-root{ min-width: 35px;}
li{    padding-top: 5px;  padding-bottom: 5px; padding-left:0px}
}

  /* --------------------------- Data profiling / --------------------------- */ 

  .new-banner{ position: relative; z-index: 0;       
    section{  border-radius: 30px;     padding: 100px 122px 0px 122px;    margin:50px  auto 0px auto;     z-index: 1;      display: block;      position: relative;
      .h1-heading{ margin: 20px 0px; font-size: 70px; font-style: normal; font-weight: 700;  line-height: 100%; b{ color: #6644F1;} }
      h1{ margin: 20px 0px; font-size: 70px; font-style: normal; font-weight: 700;  line-height: 100%; b{ color: #6644F1;} }
      h2{ margin: 20px 0px; font-size: 60px; font-style: normal; font-weight: 700; line-height: 100%; b{ color: #6644F1;} }
      h3{ margin:20px 0px; font-size: 40px; font-style: normal; font-weight: 700;  line-height: 50px; b{ color: #6644F1;} }
      .heading3{ margin:20px 0px; font-size: 40px; font-style: normal; font-weight: 700;  line-height: 50px; b{ color: #6644F1;} }
      p{font-size: 18px;  font-style: normal; font-weight: 400; line-height: 28px; margin: 0px; color: $text-color;}
    }
    .beta-test-banner{ padding: 0px;}
  // .link-btn{ background: #fff; color: $black!important;}`
.bannerimg{ width:100%; margin: 30px 0px; margin-top: 35px;}
  .banner-top-heading{ min-width:250px; display: inline-block;    margin:auto;  background: $black; border-radius: 50px; padding:10px 30px; color:#ffffff; font-size: 20px;}
 .link-btn{ font-size: 18px;}
   }
   .new-banner::before{ width: 115%;  height: 450px;          content: '';    position:  absolute;    background: #f8f9fa;
    //  background: rgb(96,70,244);    background: linear-gradient(180deg, rgba(96,70,244,1) 0%, rgba(197,45,214,1) 100%);     
     
     top: 0;    left: -140px;    z-index: 0;}
   .new-banner::after{ width: 115%;    height: 290px;    content: '';    position: absolute;    background: #f8f9fa;    border-radius: 0% 0% 50% 50%;
    top: 400px;    left: -140px;    z-index: 0;}
 
.blog-home-list{ background: url(../../assets/img/home-blogs-bg.png) 0px 10px; }
    .blog-banner{margin-top: 50px; 
      h1{ margin: 20px 0px; font-size: 80px; font-style: normal; font-weight: 700;  line-height: 100%; b{ color: #6644F1;} }
      h2{ margin: 20px 0px; font-size: 60px; font-style: normal; font-weight: 700; line-height: 100%; b{ color: #6644F1;} }
      h3{ margin:20px 0px; font-size: 40px; font-style: normal; font-weight: 700;  line-height: 50px; b{ color: #6644F1;} }
      p{font-size: 18px;  font-style: normal; font-weight: 400; line-height: 28px; margin: 0px; color: $text-color;}
      .bannerimg{ width:70%; margin: 30px 0px;}
    }
    .blog-banner::before{  width: 115%;    height: 600px;    content: '';    position: absolute;    background: url(../../assets/img/banner-bg-blogs.png);   border-radius: 0% 0% 50% 50%;   top: 0px;    left: -140px;    z-index: -1;}
     
    .postblogpost{margin-top: 50px; 
      .heading{      font-style: normal;    margin: 10px 0px 5px 0px; padding: 0;     font-weight: 600;      }
      h1{font-size: 40px; @extend.heading;    line-height: 60px;}
      h2{font-size: 33px;  @extend.heading;   line-height: 40px;}
      .heading2{font-size: 33px;  @extend.heading;   line-height: 40px;}
      h3{font-size: 28px;   @extend.heading; line-height: 35px;}
      h4{font-size: 23px;    @extend.heading; line-height: 28px;}
      h5{font-size: 20px;    @extend.heading; line-height: 28px;}
      p{ font-size: 18px; line-height: 28px;  }
    }
 .banner-onlyheading{ background: rgb(248,249,250);
  background: linear-gradient(0deg, rgba(248,249,250,1) 91%, rgba(233,234,235,1) 100%); margin-top: 117px;   
  .heading3{ margin:20px 0px; font-size: 40px; font-style: normal; font-weight: 700;  line-height: 50px; b{ color: #6644F1;} }
  h1{ margin: 20px 0px; font-size: 80px; font-style: normal; font-weight: 700;  line-height: 100%; b{ color: #6644F1;} }
      h2{ margin: 20px 0px; font-size: 60px; font-style: normal; font-weight: 700; line-height: 100%; b{ color: #6644F1;} }
      h3{ margin:20px 0px; font-size: 40px; font-style: normal; font-weight: 700;  line-height: 50px; b{ color: #6644F1;} }
      p{font-size: 18px;  font-style: normal; font-weight: 400; line-height: 28px; margin: 0px; color: $text-color;}
      .bannerimg{ width:70%; margin: 30px 0px;}
    }

    
  .builtfor-section{ text-align: center; margin: 50px 0px; 
    img{ width: 25px; height: 25px; float: left; margin:0px 15px; }
    a{ cursor: pointer; display: inline-block;   font-weight: 600; width:23%; font-size: 18px; background: #F8F9FA   no-repeat 25px 18px; border:#DFE2E5 solid 1px; padding:15px 0px; border-radius: 12px; margin: 10px 10px;     text-align: left;  }
  }

  .banner-content-section{  
h2{font-size: 40px;  font-style: normal;  font-weight: 400;  line-height: 50px;  }
p{font-size: 16px;  font-style: normal;  font-weight: 400;
  line-height: 24px; }
    .img-placeholder{ height: 540px; width: 590px; border-radius: 24px;
      border: 1px solid   #937BF6;    background: #F8F9FA;}
  }

  .howitworks{ background: #22252a  url(../img/blue-dotted.png) no-repeat;  width: 100%; margin:50px 0px; padding: 50px 50px;  border-radius: 30px;
    h2{color: #fff;      text-align: center;      margin: 0px 0px 50px 0px;  }
   
.box{ width:100%; margin: 0px 0px; float: left;   padding: 20px; background: transparent; border-radius: 12px; color: #fff;
  border: 1px solid #6644F1; height: 320px;  background: #141619;  box-shadow: 0px 4px 31px 0px rgba(102, 68, 241, 0.80);
.heading{ font-size:28px;     padding: 0px;}
} 
  }

  .getStarted {background: $text-color url(../img/getstated.png) no-repeat 100%;  border-radius: 15px;  margin: 50px 0px; padding: 15px 50px; color: #fff;
    .white-btn{ float: right;}
 }
  .white-btn{ background: #fff; border-radius: 5px; padding: 5px; color: $black; padding: 15px 30px;  display: inline-block;}

  
  .check-heading{ font-size: 16px; margin: 0 0 -5px 0; padding: 0;}
  .check-heading::before{   content: " ";  border: $black solid 2px; width:15px; height: 7px;     display: inline-block; margin: 0px 10px 5px 0px;  position: relative;    border-top: none;    border-right: none;    transform: rotate(-45deg); } 

  .ulchecklist{list-style: none;
    li{font-size: 16px;  margin: 10px 0px 10px 0px; padding: 0px;}
    li::before{   content: " ";  border: $black solid 2px; width: 15px; height: 7px;     display: inline-block; margin: 5px 10px 5px -27px;  position: absolute;    border-top: none;    border-right: none;    transform: rotate(-45deg); }
    .content{ margin-left: 20px; } 
   
  }
  .am-section{  
    h3{color:  $text-color;  margin:10px 0px 10px 0px; padding: 0px ;   font-size: 23px;    font-weight: 600;    line-height: 28px;  }
    .heading{text-align: center;  display:block;      font-size: 60px;       font-weight: 600;      line-height: 130%;}
    .heading-md{text-align: center;  display:block;      font-size: 40px;       font-weight: 600;      line-height: 130%;}
   
   
  .selected-button{padding: 24px 32px;width: 100%; font-family: $font_Manrope; font-size: 20px; text-transform: capitalize!important;  justify-content: left;   border-radius: 12px!important;
        border: 1px solid  #6644F1;
        background: #EAE4FF;}

         .default-button{padding: 24px 32px; font-family: $font_Manrope; color: $text-color; width: 100%; font-size: 20px;text-transform: capitalize!important;
          flex-direction: column;
          align-items: flex-start; 
          align-self: stretch; border-radius: 12px!important; 
          border: 1px solid   #DFE2E5;
          background: #F8F9FA;}

          .content-box{display: flex; min-height: 330px; cursor: pointer; 
            padding: 32px;
            flex-direction: column;
            align-items: flex-start; 
            align-self: stretch; border-radius: 12px;
            border: 1px solid  #DFE2E5;
            background:  #F8F9FA;transform: scale(1);  transition: all .2s ease-in-out;
             }
          .content-box:hover{ box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);  z-index: 2;  transform: scale(1.1);
            transition: all 200ms ease-in; transform: scale(1.02); border-top: $text-color solid 5px;  border-bottom: $text-color solid 5px;}
          
          .dark-box{border-radius: 12px; color: #fff; padding: 32px;
            background:$text-color;   
            font-style: normal; 
            line-height: 20px;  
            h5{color:  $text-color; color: #ffffff;  margin: 0;              font-size: 28px;              font-style: normal;
              font-weight: 600;              line-height: 34px;  } 
          }
            .white-btn{ color:  $text-color; 
              padding: 10px 16px;
              justify-content: center;
              align-items: center;  border-radius: 8px;
              background:  #FFF;}
  } 

  .footerContainer-home::before{ width: 100%;  height: 320px;  content: ' ';  position: absolute;   top: 0px;  background: #ffffff;}
  .footerContainer-home{  background:#22252a;  background-repeat: no-repeat;
    background-size: 50%  50%; position: relative; color: #22252a;  padding:0px 0px  0px  0px;

    .footerBanner{ width: 1440px; img{ width: 1200px;}}
    .container-home{ position: relative;}
    .subscription-section{ background: #6644f1; border-radius: 20px;     padding:20px 50px; position:  relative; margin: -175px 100px 0px 100px;
    h2{color:  #FFF;  font-size: 40px;      font-style: normal;      font-weight: 600;      line-height: 130%;  }
      p{color: #FFF;      font-size: 14px;        font-style: normal;        font-weight: 400; line-height: 24px; }
      
      .from {  input[type=text]{border: none; width: 100%;  background: rgba(255, 255, 255, 0.99);border: 1px solid  #DFE2E5; border-radius: 8px;     float: left;  padding: 12px 10px; }
        input[type=submit]{border: none; background: #E947AD; font-weight: 800;   width: 100%;   padding: 12px 10px;color:  #FFF;   border-radius: 8px;  }
        button{border: none; background: #E947AD;width: 100%; font-weight: 800;     padding: 12px 10px;color:  #FFF;   border-radius: 8px;  }
        }
    }
    
    .footer-link-section{ padding:50px 15px 0px 15px;
      a{ color: #ffffff;}
      h4{color:   #FFF;         font-size: 20px;        font-style: normal;        font-weight: 600;        line-height: 26px; margin: 16px 0px 30px 0px; }
    p{color:   #FFF;  
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;  }
      .subscribeform{ 
        input[type=text]{border-radius: 8px; margin-bottom: 10px;  border: 1px solid #DFE2E5; background:  #FFF; display: flex;
          padding: 14px 16px;  align-items: center;border-radius: 8px;  border: 1px solid   #DFE2E5;  background:  #FFF; }
        input[type=button]{ display: flex; border: none;
            padding: 14px 20px;color:  #FFF; 
            justify-content: center;
            align-items: center;
            gap: 8px; border-radius: 8px;
            background:  #6644F1; }
      }
    }
    .copyright{  padding: 20px 120px;     margin-top: 50px;  
      align-self: stretch;border-top: 1px solid   #4A5056; color:  #9AA0A5;  
      font-size: 16px; 
      font-weight: 400;
      line-height: 24px;
      a{color:   #FFF; }  
    }
  }


  .emailsuccessfulsubmitfooter::before{background:#fff url(../img/email-submit.png) no-repeat;  content: ' '; width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    margin-top: -6px;}
  .emailsuccessfulsubmitfooter{ position: relative; color: #fff; a{ color: #fff;}}
 

  .emailsuccessfulsubmit::before{background:#fff url(../img/email-submit.png) no-repeat;  content: ' '; width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    margin-top: -6px;}
  .emailsuccessfulsubmit{ position: relative;  }
 
  
  .footerContainer-new{  background:#22252a;  background-repeat: no-repeat; background-size: 50%  50%; position: relative; color: #22252a; margin-top: 50px;   margin-top: 100px;

    .footerBanner{ width: 1440px; img{ width: 1200px;}}
    .container-home{ position: relative;} 
    
    .blueBox-section{ background: #6644f1 url(../img/dotted-pattern.svg); border-radius: 20px; width: 100%;     padding: 80px 50px; position:  absolute; z-index: 1; margin: -150px 0px 0px 0px;  
      h2{color:  #FFF;  font-size: 40px;      font-style: normal;      font-weight: 600;      line-height: 130%;  }
        p{color: #FFF;      font-size: 14px;        font-style: normal;        font-weight: 400; line-height: 24px; } 
        a{border: none; background: #E947AD;   padding: 12px 10px;color:  #FFF;   border-radius: 8px;  }
        .from {  input[type=text]{border: none;  background: rgba(255, 255, 255, 0.86);border: 1px solid  #DFE2E5; border-radius: 8px;     float: left;  padding: 12px 10px; }
          input[type=submit]{border: none; background: #E947AD;   padding: 12px 10px;color:  #FFF;   border-radius: 8px;  }
          }
      }

    .subscription-section{ background: #6644f1; border-radius: 20px;     padding: 80px 100px; position:  relative; margin: -175px 100px 0px 100px;
    h2{color:  #FFF;  font-size: 40px;      font-style: normal;      font-weight: 600;      line-height: 130%;  }
      p{color: #FFF;      font-size: 14px;        font-style: normal;        font-weight: 400; line-height: 24px; }
      
      .from {  input[type=text]{border: none;  background: rgba(255, 255, 255, 0.86);border: 1px solid  #DFE2E5; border-radius: 8px;     float: left;  padding: 12px 10px; }
        input[type=submit]{border: none; background: #E947AD;   padding: 12px 10px;color:  #FFF;   border-radius: 8px;  }
        a{border: none; background: #E947AD;   padding: 12px 10px;color:  #FFF;   border-radius: 8px;  }
        }
    }
    
    .footer-link-section{ padding:200px 15px 0px 15px;
      a{ color: #ffffff;}
      h4{color:   #FFF;         font-size: 20px;        font-style: normal;        font-weight: 600;        line-height: 26px; margin: 16px 0px 30px 0px; }
    p{color:   #FFF;  
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;  }
      .subscribeform{ 
        input[type=text]{border-radius: 8px; margin-bottom: 10px;  border: 1px solid #DFE2E5; background:  #FFF; display: flex;
          padding: 14px 16px;  align-items: center;border-radius: 8px;  border: 1px solid   #DFE2E5;  background:  #FFF; }
        input[type=button]{ display: flex; border: none;
            padding: 14px 20px;color:  #FFF; 
            justify-content: center;
            align-items: center;
            gap: 8px; border-radius: 8px;
            background:  #6644F1; }
      }
    }
    .copyright{  padding: 20px 120px;     margin-top: 50px;  
      align-self: stretch;border-top: 1px solid   #4A5056; color:  #9AA0A5;  
      font-size: 16px; 
      font-weight: 400;
      line-height: 24px;
      a{color:   #FFF; }  
    }
  }




  /*------------------------    common class ------------ ------------  */ 
  .mt-8p{ margin-top: 8px!important;}
.section-gray{ padding: 20px;  /*background: #f5f7fa;*/ background: #ffffff; border: 1px solid #ffffff;  border-radius: 20px;   margin: -20px; } 
.section-green{ padding: 20px;  background: #F8FCFF;   border-radius: 20px; margin: -40px; } 

.grey-box-withoutborder{ padding: 8px;  background: #f8f9fa; border-radius: 16px;}
small{font-family: $font_Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; }
.count-number{font-family: $font_Manrope;  font-size: 24px;  font-style: normal;  font-weight: 600;   }
.btn-white{ background: #fff; }
.btn-small{   padding: 4px 12px;  border-radius: 100px; line-height: 25px;}
 
.btn-active{  color: #fff;   border: 1px solid  $primaryblue; background: $primaryblue;}
.btn-grey{    border: 1px solid  #DFE2E5; background: #F8F9FA;}
 .chip-status{
  .sbox{
    font-family: $font_Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */}
  .low{color:  #4A9E17; background:#A4E27E; @extend.sbox}
  .medium{color:  #A98D00; background:#EED65A; @extend.sbox}
  .high{color:  #CA1F1F; background:#FC9B9B; @extend.sbox}
  .normals{color:#79A3FB; background:#E3ECFF; @extend.sbox }
 }

 .chips-status{ 
  .status-sm{   padding: 3px 10px; text-transform: capitalize;    align-items: center; border-radius: 100px;   }
  .status{  min-height: 48px; padding: 8px 16px; text-transform: capitalize;    align-items: center; border-radius: 100px;   }
  .low{@extend.status; color: #4A9E17;     border: 1px solid #A4E27E;    background:#E3F9D6;}
  .high{ @extend.status;color: #CA1F1F;    border: 1px solid #FC9B9B;  background: #FFE5E5;}
  .medium{ @extend.status;color: #A98D00;   border: 1px solid #EED65A;    background:#F6F0CD;}
  .medium-sm{ @extend.status-sm;color: #A98D00;   border: 1px solid #EED65A;    background:#F6F0CD;}
  .normals{color:#184DBB; border: 1px solid #79A3FB;   background:#E3ECFF; @extend.status }
 }

.list-style{ ul{ list-style: none; margin: 0px;} li{ border-bottom: #DFE2E5 solid 1px; padding: 12px 0px;}}
.result-tabs{ ul{ list-style: none; margin: -17px -57px 0px -57px;}
  li{ cursor: pointer; width: 25%;float: left;  padding: 16px; background:#F8F9FA; border: 1px solid #DFE2E5;   color:  #4A5056;           font-style: normal;    font-weight: 500;    line-height: 16px; }

  .active{ background:none; border-bottom: none; .counts{color: $primaryblue;}}

  li:last-child{ border: none;}
  .counts{color: #22252A;  font-size: 24px; font-style: normal; font-weight: 600;  display: block; line-height: 47px; }

}
  /* ------------------------   end common class  ------------------------   */


  /* ------------------------  Result pages  ------------------------  */
.grey-card{ padding: 15px!important;
  background: rgba(0, 0, 0, 0.04)!important;
}
  .result-count-cards{
    h3{ margin: 0px;}
    .cardBox{  border-radius: 15px;  box-shadow: none; margin: 0px 1%;  .CardContent{padding-bottom: 16px;}}
  }

  .mine-btn-list{ margin: 15px 0px; button{ margin-right:10px;}}


  .total-countlist{     
    .custom-card{ @extend .box-shadow-card; width:19.4%;  padding: 5px 10px 10px 10px;  margin: 3px 0.3% 0px 0.3%;  float: left; background: #fff; border-radius: 15px; overflow: hidden;
     .cardContent{ padding: 5px; text-transform: capitalize;}     
      img{ width: 30px;  height: 30px; float: right;  margin:2px 5px 0px 0px;}
      .small-text{font-size: 11px;    font-weight: 700; letter-spacing: -0.3px; max-width: 81%;        display: inline-block;
        overflow: hidden;        white-space: nowrap;        text-overflow: ellipsis;}
      .count-number{  display: inline-block; font-size: 22px; margin-bottom: -15px; width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;          } 
    } 
  }

  .total-countlistNps{     
    .custom-card{ @extend .box-shadow-card;  width:16%;   padding: 5px 10px 10px 10px; margin: 3px 0.3% 0px 0.3%; float: left; background: #fff; border-radius: 15px; overflow: hidden;
     .cardContent{ padding: 5px; text-transform: capitalize;}     
      img{ width: 25px;  height: 25px; float: right;  margin:2px 5px 0px 0px;}
      .small-text{ font-size: 11px;    font-weight: 700; letter-spacing: -0.3px;  max-width: 80%;        display: inline-block;
        overflow: hidden;        white-space: nowrap;        text-overflow: ellipsis;}
      .count-number{ display: inline-block; font-size: 20px; margin-bottom: -15px;   width: 65%;
        overflow: hidden;
        text-overflow: ellipsis;     } 
    } 
  }

 .cell-template{ text-transform: capitalize; white-space: normal; padding: 5px 0px; 
    .statusdiv{  padding: 2px 15px;      border-radius: 20px; width: 100px; text-align: center; display: block; }
    .churnLow{color: #EB0000; border: #FF9999 solid 1px; @extend.statusdiv;   }
.churnMedium{ color: #008FFB;  border: #a2d6fe solid 1px; @extend.statusdiv;   }
.churnHigh{ color: #269400;   border: #a9ff8d solid 1px; @extend.statusdiv;  }
.churnMedium{ color: #fdb02e; border: #f8d497 solid 1px; @extend.statusdiv;   }
.churnNone{ color: $black;  border: #d8d8d8 solid 1px; @extend.statusdiv;   }


.low{border-radius: 20px;  color: #EB0000;padding: 3px; border: #FF9999 solid 1px;padding: 2px 15px; @extend.statusdiv; }
.medium{border-radius: 20px;  color: #fdb02e; border: #f8d497 solid 1px;padding: 3px;padding: 2px 15px; @extend.statusdiv; }
.high{border-radius: 20px;  color: #269400; border: #a9ff8d solid 1px; padding: 3px; padding: 2px 15px; @extend.statusdiv;}

.likes{border-radius: 2px; background: #FFC5C5; padding: 3px;}
.improvement{border-radius: 2px; background: #bcffeb; padding: 3px;}
p{ cursor: pointer; margin: 0px;} 
  }

  .ptag{ margin: 0; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .ptagOneline{ margin: 0; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}

  .result-pages{  padding: 10px;
    .selectCard{ border:#79A3FB solid 2px!important;  }
    .cardBox{@extend .box-shadow-card;  margin: 2px 3px;    background: #fff;      border-radius: 15px; border:none; box-shadow: none;  
    h3{ margin: 0px; max-width:72%; float:left;  font-size: 15px; text-transform: capitalize;     overflow: hidden;      text-overflow: ellipsis; white-space:nowrap;}
    .result-toolbar{float: right;   max-width:28%; text-align: right; 
    a{ float: right;     padding: 0px 0px 0px 3px;}}
    }
    
    .table{ font-size: 12px; @extend .box-shadow-card; margin: 5px;}
  .MuiDataGrid-columnHeaders{ background: #fff!important;}
  }
  #chart11 {
    text{ fill: $black;}
  }
  #chart12a {
    text{ fill: $black;}
  }

  #submenu{ display: none;}
  .custom-listul{ max-height: 150px; overflow: auto; background: $black;}
  .custom-list{border-top:none; border: rgba(0, 0, 0, 0.23) solid 1px;  padding: 0px!important;
    .MuiListItemButton-root{    border-bottom: rgba(0, 0, 0, 0.23) solid 1px; border-radius: 0;}
.MuiList-overflow{ max-height: 150px; overflow: auto;} 
 }
 
.custom-switch-btn{border-radius: 12px;  border: 1px solid #DFE2E5;  background: #FFF;  width: 281px;  margin: auto;  height: 48px;  line-height: 46px;  a{ display: inline-block; width: 50%; padding: 0px;} }
.plan-cards{text-align: left; margin: 100px -120px;
  sup{  color: #6644F1;    display: inline-block;    position: absolute;     border-radius: 100px;     margin: -10px 0px 0px 90px;    background: #fff;    padding: 8px; border: 1px solid   #6644F1;}
  .card{  font-family: $font_Manrope; border-radius: 12px; cursor: pointer;     border: 1px solid  #937BF6;    background:  #fff;     }
  .text{ font-size: 14px; line-height: 18px;}
  h3{font-size: 30px!important;}
  h4{font-size: 28px;font-family: $font_Manrope; font-style: normal;    font-weight: 600;    line-height: 34px}
h3{border-radius: 12px;font-size: 30px;font-family: $font_Manrope; color: #6644F1; margin: 0; padding: 0;  span{font-size: 14px;    font-weight: 400; color: #515151;}}
 a{border-radius: 8px;  border: 1px solid #6644F1;  cursor: pointer; background: #FFF;  padding: 10px 16px;
  width: 100%;  font-size: 14px;  color: #6644F1;  font-weight: 600;      display: inline-block;  text-align: center;  font-family: $font_Manrope;} 

  ul{ margin: 0; padding: 0; list-style: none; 
  li{ font-size: 11px;  padding: 5px 0px; }
  }
  .checkBox{    width: 16px;    height: 16px;    border-radius: 4px;    border: 1px solid #6644F1;
    display: inline-block;    float: left;     margin-right: 6px;}
  .checkBox::before {content: '\2713';   color: #6644F1;      padding: 0px 2px;       margin: -1px 0px 0px 0px;      position: absolute;}

    
}
.card:hover{ background: #6644F1; color: #fff;  .text{color: #fff;}
h3{color: #fff;  
   span{color: #fff;}  
}
}
.card:hover .checkBox{background: #fff;}  

.unlimitedplanbox{padding: 15px;  width: 70%;   border-radius: 15px;  border: 1px solid   #DFE2E5;  background: #FFF;
h4{ color: #6644F1; margin: 0px;}
img{ float: left; width:25px; margin:2px 10px 0px 0px; }
button{border-radius: 8px; padding: 8px; margin-bottom: 5px; background: transparent;  border: 1px solid   #6644F1; padding: 8px; margin-right: 15px; cursor: text;}
}   
.checkIcons::before {content: '\2713';  font-size: 25px;  color: #6644F1;       line-height: 17px;    }

.team-memberview{  
  .imgbox{   cursor: pointer;   margin: auto;    background: #eae4ff; position: relative;border-radius:24px; border: 1px solid   #937BF6; margin-top: 80px;
   img{margin-bottom: -5px;  width: 100%; display: inline-block;  z-index: 2; border-radius:24px;     margin-top: -55px;}
 
  // .imgbox{ width: 285px;  height: 250px; position: relative; z-index: 0;}
  // .imgbox::before{width: 100%; content: ' '; 
  //   // height: 263px;   margin-top: 97px;
  //   height: 100%;
  //    border-radius: 24px 24px 0px 0px;
  //   border: 1px solid   #937BF6; display: block;
  //   position: absolute; 
  //   background: #eae4ff;
  //   z-index: 0;}
     }
    .name{margin-top: 20px; color:   #31179B; display: block;      text-align: center;       font-family: $font_Manrope;      font-size: 24px;
      font-style: normal;    display: block;   font-weight: 600;      line-height: 25px;  }
    .designation{color:#4A5056;      text-align: center;       font-family: $font_Manrope;      font-size: 16px;      font-style: normal;
      font-weight: 400;      line-height: 25px;  display: block; }

.flip-box {  background-color: transparent;  width: 300px;  height: 330px;  perspective: 1000px;  margin: 10px;}
.flip-box-inner {  position: relative;  width: 100%;  height: 100%;  text-align: center;  transition: transform 0.8s;  transform-style: preserve-3d;}
.flip-box:hover .flip-box-inner {  transform: rotateY(180deg);}
.flip-box-front,.flip-box-back {  position: absolute;  width: 100%;  height: 100%;  -webkit-backface-visibility: hidden;  backface-visibility: hidden;  z-index: 15 !important;}
.flip-box-front { border-radius: 12px;    } 
.flip-box-back { overflow: auto; padding: 10px;  border-radius: 12px;  box-shadow: 0 0 2px #f2f2f2;  // background-color: $darkPrimaryDark;
  background-color: #6644F1;  transform: rotateY(180deg);  z-index: 15 !important;
  .name{color: #fff; font-size: 18px;}
  .designation{color: #fff; font-size: 14px;}
  p{ font-size: 12px; color: #fff; line-height: 15px;}
}

}

.popUpteamView{ 
  h2{border-bottom: 1px solid  #DFE2E5;    background:  #F8F9FA;}
  .imgbox{ width: 250px; cursor: pointer;   margin: auto;    background: #eae4ff; position: relative;border-radius:24px; border: 1px solid   #937BF6; margin-top: 80px;
    img{margin-bottom: -5px;  width: 100%; display: inline-block;  z-index: 2; border-radius:24px;     margin-top: -55px;}  
  }
  
  .designation{color:#4A5056;      text-align: center;       font-family: $font_Manrope;      font-size: 16px;      font-style: normal;
    font-weight: 400;      line-height: 25px;  display: block; }
    p{font-family: $font_Manrope; font-weight: 400; font-size: 14px;  }
}
.popupactionbar{ position: relative; background:  #F8F9FA;  padding: 15px; width: 100%;
  .pointdiv{ text-align:center; list-style: none; margin: 0px 0px 0px -11px; padding: 0; width: 233px;  float: left; } 
  .pointdiv span{ display: inline-block; align-items: center; margin:7px 3px; width: 10px; height: 10px; border-radius: 5px; background: #DFE2E5;}
  .selected{  background: #937BF6!important;}
  .previous{  float: left; margin-left: 10px;font-size:23px; background: none; border: none;     margin-top: -2px;}
  .next{ float: right;  margin-right: 20px;font-size:23px;    background: none; border: none;  margin-top: -2px;}
}

/* ___________________ custom chart  ___________________ */
.apexcharts-tooltip {  white-space: pre-wrap !important;  max-width: 250px;}
.apexcharts-menu-item{ padding: 5px 1px!important;}
.custom-chart{ padding: 0px; overflow: auto;
  label{ font-size: 12px; width: 40%; float: left; text-transform: capitalize;  white-space: nowrap;    overflow: hidden;    text-overflow: ellipsis;}
  .bars:nth-child(1){position:  sticky;}
  .bars{width: 60%; float: left;  position: relative;
    div:hover span{ display: inline-block;   }
    span{ display: none;     position: absolute; margin: -5px 0px 0px 5px;      padding: 3px;      font-size: 11px;      border-radius: 5px;}
    .promoter{display: inline-block; background: #10BA5C; height: 14px; border-radius: 15px; span{background: #10BA5C; color: #fff;}}
    .promoter:hover{background: #3beb8a;}
    .passive{display: inline-block; background: #FEAC00; height: 14px; border-radius: 15px; span{background: #FEAC00;  color: #fff;}}
    .passive:hover{background: #fad37f;}
    .detractor{ display: inline-block; background: #FA586C; height: 14px; border-radius: 15px; span{background: #FA586C;  color: #fff;}}
    .detractor:hover{background: #fb939f;}
  }
}

.blog-rightnav{  border-left: 1px solid #DCDCDC;  padding: 15px;
  .socialMediaIcons{ background:#f8f9fa;   border-radius: 15px; padding: 15px;
    img{      padding: 5px;    border-radius: 5px; float: right;}
    span{color:#1f1f1f;}
  a{ float: left; padding:0px 0px !important;}
  }
  a{ color:#1f1f1f; font-size: 14px; padding:20px 10px !important;}
  ul li{ position: relative; border-left: transparent solid 5px;}
  ul li:hover { border-left: #1f1f1f solid 5px;}
  /* ul li::before{content: "\f054";  font-family: $font_Awesome;  top: 25px;left: 0px; position: absolute; } */ 

}

.postbloglist{ 
  .blogBox{ background: #fff; @extend.box-shadow-card; border-radius: 10px; border: 1px solid #DCDCDC; padding: 15px;    height: 310px; position: relative; 
    img{ width: 100%;}
  .name{color: $black;    font-family: $font_Manrope;    font-size: 20px;    font-style: normal;
    font-weight: 700;    line-height: normal;  overflow: hidden;    text-overflow: ellipsis;
    display: -webkit-box;    -webkit-line-clamp: 4;    -webkit-box-orient: vertical;}
    .readmore{color: $black; position: absolute; bottom: 10px; left: 15px;}  } 
} 
.olList{ li{ line-height: 20px;  margin: 20px 0px;}}

 


.filterBox{ padding: 15px;  width: 320px;
    h4{ border-bottom: #ccc solid 2px; padding: 0px 0px 5px 0px; margin-bottom: 10px;}
    a{ display: inline-block; margin: 2px 5px 5px 5px;}
   }  

   .product-screen-placeholder{ background: #f8f9fa;  border-radius: 20px; padding: 30px  30px  30px  30px;
    img{border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    } 
   }
 
   .supportPages{  
     .inputBox { width: 100%;} 
   }
  
.connectorsLoader:before{background: rgba(255, 255, 255, 0.8);   content: ' ';
  margin: auto;
  transform: translate(-50%, -50%);
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;}
.loader-container{  
  background:#F4F4F4;    
    margin: auto;
    padding: 35px;
    z-index: 100;
    position: fixed;   
  width: 1310px;height:655px; margin: -375px 0px 0px -655px;
  left: 50%;
  top: 50%;
  font-size: 24px; 
  vertical-align: middle; 
i{ font-size: 35px;float: left; margin: 0px 10px 0px 5px;}
  .banner-img{ height: 635px; width: 350px; }
  .name{ float: left; width: 80%;    overflow: hidden;    text-overflow: ellipsis;    display: inline-block;    white-space: nowrap;}
}

.popup-form{
  h1{ color: $primaryblue;}
h2{ color: $primaryblue; font-size: 18px;  }

}

/* beta tester */

.announcement {
  a{color: #fff;}
  background-image: linear-gradient(to right, #ea48ae, #c52cd5 25%, #9139e4 50%, #6844f1 75%, #5337ee);
  font-size: 16px; line-height:29px; margin: 0px -15px 0px -15px; strong{ color: #FEAC00;} .close-icon{margin: 10px 20px 0px 0px; color: #fff; font-size: 20px; float: right;}
}
.announcement-text {
  opacity: 1;
  color: rgba(255, 255, 255, .95);
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  display: block;
}
.benefits{
  svg{ width: 75px;    height: 75px; }
  h4{ margin: 0; padding: 15px 0px;}
  .box{border-radius: 45px; height: 420px; font-size: 32px;  text-align: center;  padding: 30px 30px; box-shadow: 0px 4px 22.6px 9px rgba(0, 0, 0, 0.25); p{ font-size: 18px;} }
  .exclusive{background: #FD90FF;@extend.box;   }
  .prioritySupport{@extend.box; background: #BD89FF; }    
  .recognition{@extend.box; background: #779DFF;     }
}
/* beta tester end */


.active-servay{ border-left: $primaryblue solid 5px!important;}

.project-list-topcardlink{
  .MuiPaper-rounded{ @extend.box-shadow-card;  font-size: 14px;   }
  .MuiCardContent-root { padding: 15px!important;}
  a{ color: $black; border-left: #E947AD solid 5px; display: block;  position: relative;  padding: 15px 50px 15px 15px;}
  i{ font-size: 22px; position: absolute;    right: 10px;     padding: 12px 0px;   font-weight: 800;}
  
}

.project-source-list{ margin: 0px 0px 3px 0px ;
p{ margin: 0px; font-size: 35px; line-height: 20px;}
  .Typeform{  padding: 0px 5px 0px 20px; background:url(../icons/Typeform-blue.svg) no-repeat 0px 0px; margin-right: 5px; background-size: 19px;}
  .Hubspot{ padding: 0px 5px 0px 20px; background:url(../icons/Hubspot-blue.svg) no-repeat 0px 0px; background-size: 19px;}

  
  .chips{
  .Typeform{white-space: nowrap;   max-width: 99%; padding: 0px 5px 0px 30px;
    overflow: hidden;
    text-overflow: ellipsis; font-size: 15px; background-color:#b7cdfb; background-position:5px 4px; background-size: 20px;  min-height: 28px; display: inline-block; line-height: 27px; border-radius: 20px;  margin: 3px 3px  0px 0px;     }
  .Hubspot{white-space: nowrap;   max-width: 99%; padding: 0px 5px 0px 30px;
    overflow: hidden;
    text-overflow: ellipsis;  font-size: 15px; background-color:#b7cdfb;  background-position:5px 4px; background-size: 20px; min-height: 28px; display: inline-block; line-height: 27px; border-radius: 20px;  margin: 3px 3px  0px 0px;     }
  }
}

.segmentionlist{border: #ddd solid 1px; height: 33vh; overflow:auto; margin-top: -15px;
  .accodion-style .MuiAccordionSummary-gutters{border: none; border-bottom: #ddd solid 1px;}}
.selectedSegmention{  border: #ddd solid 1px; margin-top: 15px; border-radius: 5px;
  .heading{ background: #0051FA; padding: 5px 10px; color: #fff;}
  .list-scroll{height: 20vh; overflow:auto;}
  // ul{ list-style: none; margin: 0px; padding: 0 7px;
  //   li{ border-bottom: #ddd solid 1px;}
  //   span{ background: #bed3fe; border: #6287bc solid 1px; padding: 3px; font-size: 12px; margin: 3px; display: inline-block; border-radius: 5px;
  //     font-weight: 800;}
  // } 
}
 .taskList{display: flex;  flex-direction: column;  background: #ffffff; padding: 8px 7px;     border-bottom: #ddd solid 1px; }
.dragchipsul{ list-style: none; padding: 0px;  }
// .dragchips{   float: left;  }
.dragchipslabel{ display: inline; background: #bed3fe; cursor: move;  border: #6287bc solid 1px;  padding: 3px;  font-size: 12px;  margin: 3px;     border-radius: 5px;  font-weight: 800; white-space: nowrap;  max-width: 100px; text-align: center;   text-overflow: ellipsis;  overflow: hidden;}
 


/* ------------------------ copilot style ------------------------ */
.custom-popover{width: 800px;  background: #fff;  position: fixed;  right: 26px;
  box-shadow: 0px 0px 1px 1px #d5d0d6;  padding: 15px;  border-radius: 10px;}
.chartHistroy{  height: 58vh; overflow: auto; padding: 5px;  background: #F4FAFF; padding: 10px; border-radius: 5px; box-shadow: #333  0px 0px 8px; margin-top: 10px; 
  .qus{ font-size: 16px; width: 70%;  white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden; float: left;}
  .date{  color: #393939; font-size: 12px; float: right;}
  
  }
  .selectedcopilot{ img{ filter: sepia(100%) hue-rotate(190deg) saturate(500%);}}
.copilot-heading{ display:inline-flex; text-align: center; color: #FF26C2; font-size: 32px; font-weight: 1000;
  line-height: 37px;}
  .chartBots{  width: 100%;
    h1 { margin: 0;
      font-size: 32px;
      background: linear-gradient(to right, #D76679 0%, #D76679 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
    h2{ margin: 0;   font-size: 32px; color:#7E7E7E}
  }
  
  .chat-container{   font-size: 14px; height: 50vh; overflow: auto; padding: 5px; margin-bottom: 20px;
    .cml-chart{ text-align: right; position: relative;   strong{   background: #6fc693; border-radius: 5px;margin-top: 10px; padding: 3px 5px; color: #fff;}  img{ width:30px; float: right;  margin: -5px 0px 0px 7px; }} 
    .client-chart{ margin: 5px 0px 5px 0px; span{background: #f4f6f9; border:#dde5e2 solid 1px; border-radius: 5px; padding: 5px;   display: block;  margin: 5px 0px 10px 45px;} img{ width: 30px; float: left;  margin: 0px 0px 0px 7px; }} 
  }
 
  .chartBots{ input{ background: #fff; border: #c6d8ca solid 1px; border-radius: 5px; height:50px; padding: 0px 10px; width:87%;  } 
  button{i{ font-size: 25px;} height: 50px; width: 50px; border-radius: 5px; background: #c5d7c9; float: right;     border: none;}
 }
 .questionlist{ 
  height: 52.7vh; overflow: auto; padding: 5px;
}
  .q-list{margin-bottom: 10px;
    .ques{ margin-bottom: 10px; position: relative; img{ float: left; width: 30px;  height: 30px; margin: 2px 10px 0px 0px;} span{ /* width: 90%;*/  display: inline-block; background: #39434F; color: #fff; padding: 5px 5px; border-radius: 5px 5px 5px 0px;}}
    .ques::before {content:''; background: url(../icons/cml-logo.png) no-repeat; font-family: $font_Awesome; position:   absolute; width: 25px;    
  }
    .aws{ background: #fff; box-shadow: #333  0px 0px 8px; border-radius: 5px; font-size: 12px; padding: 10px 0px;  }
  }
   
  .pre-question{background: #fff; width:95%;padding: 10px; margin-bottom: 5px;  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12); border-radius: 10px;  position: absolute; bottom:75px; left: 2px; margin: 0px 14px; max-height: 190px;    overflow: auto;
    .baricons{ width: 50px; cursor: pointer;        background: #333;      border-radius: 5px;      height: 8px;        display: inline-block;      margin: auto;      position: relative;      left: 50%;       margin: -3px 0px 5px -25px; }
    .ques{ background: #F4FAFF;  border-radius: 5px;  overflow: auto;   height:146px;   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
      padding: 10px;  font-size: 13px;   }
   
  }


  .alertsList{ width: 400px; padding: 15px; z-index: 7;  border-radius: 10px;      position: absolute;    right: 15px;       background: #fff; box-shadow: 0px 0px 1px 1px #d5d0d6;
    h2{ margin: 0; padding: 0;}
    .list{ height: 69vh; overflow: auto;}
    .alert-messge{ position: relative; margin-bottom: 15px; cursor: pointer;
      img{ float: left; margin:15px; font-size: 12px;  padding: 0px 0px 20px 0px;}
      p{ margin: 0 20px 0px 0px; display: -webkit-box;
        overflow : hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;}
      .messgetime{ color: $primaryblue;  }
    }
    .unreadstatus::after{content:''; position: absolute; width: 10px; background: $primaryblue; height: 10px; top: 20px; right: 5px;   border-radius: 50px; } 
     }
  .askcopilot-btn{ img{ background: #fff; width: 20px; float: left;    margin-right: 5px;    border-radius: 20px;}  background:$primaryblue;  border-radius: 20px;    border: none;    padding: 3px 15px 3px 2px;
    color: #fff;}

  .alert-Setting{ position: absolute; width: 730px; box-shadow: 0px 0px 1px 1px #d5d0d6; background-color: #ffffff; border-radius:10px;    z-index: 10;
    right: 16px; padding: 15px;    margin: 50px 0px 0px 0px;
.heading-small{  color:#969696; font-size: 12px;}
    .formbox{box-shadow: 0px 0px 1px 1px #d5d0d6; padding: 15px; border-radius: 10px;}
  }