 
.d-xs-block{ display: none;} 
.d-md-block{ display: block;}  
.web-view{ display: inline-block;}
.mobile-view{ display: none;}
@media screen and (min-width:320px) and (max-width:1024px) {
   
    .d-md-block{ display: none;}  
    .d-xs-block{ display: inline-block;} 
    .web-view{ display: none;}
    .mobile-view{ display: block;}
    section{  padding: 20px 0px;}
    .section-gray{ margin:0px; padding: 20px 0px;}  
    .section-green{ margin:0px;}  
.web-nav{ display: none;}
.container{    max-width: 100%;   padding-left: 0.75rem;  padding-right: 0.75rem; }
    .container-fluid{    max-width: 100%;   padding-left: 0.75rem;  padding-right: 0.75rem; }
    .container-home{    max-width: 100%;   padding-left: 0.75rem;  padding-right: 0.75rem; }
    .builtfor-section a{ width: 95%;}
    .builtfor-section button{ width: 100%;     margin: 5px 0px;}
    .footerContainer-new .footerBanner img{width: 100%;}
    .footerContainer-new .footerBanner{ width: 100%;}
    .slide img{ width: 100%;}

    .new-banner section{ padding: 150px 30px  0px 30px;}
    .new-banner .beta-test-banner{ padding: 150px 30px  0px 30px;}
    .new-banner section .h1-heading{    font-size: 42px;} 
    .new-banner::before{left:-58px}
    .new-banner::after{left:-58px; top:350px; height: 255px;} 
    .howitworks h2{  font-size:40px}
    .slide {     height: 240px;} 
    
      .banneraction-button{   padding: 10px;  width: 300px; margin-bottom: 15px; 
    //     .btn1{ width: 130px;  font-size: 14px;  }
    //     .btn2{  width: 130px;  font-size: 14px;  }
       }
    .home-roles-page .skybluebox{margin-top: 100px;}
    .footerContainer-new .subscription-section .from input[type=text]{ width: 100%;}

    .footerContainer-new .subscription-section{ padding: 15px 15px;   margin: -62px   0px 0px 0px;}
    .subscription-section{ margin: 0px;}
    .am-section .dark-box h3{ margin: 0px;}

    .home-content-section h2{    font-size: 30px; line-height: 30px;}
    .home-content-section .img-placeholder{ width: 100%; height:350px;}
    .am-section .heading{    font-size: 30px;}
    .footerContainer-new .subscription-section h2{  font-size: 30px;}
    .footerContainer-new .copyright{padding: 20px 10px; .text-right{ text-align: left;}}
    .footerContainer-new .subscription-section from{ width:80%}
    .dxs-view-block {        display: block;    }
    
    .footerContainer-home .subscription-section h2{ margin: 0px;}
    .footerContainer-home .subscription-section p{margin: 0px;}
    .footerContainer-home .subscription-section .from input[type=text]{ width: 100%;}
    // .footerContainer-home .subscription-section{ margin: -175px 10px 0px 10px;padding: 20px 20px;}
    // .footerContainer-home .footerBanner{ width: 100%;}
    // .footerContainer-home .footerBanner img{ width: 100%;}
    
    .plan-cards{ margin: 10px 0px;} 
  
    .footerContainer-home .copyright{padding:10px 10px;font-size:14px; .text-right{ text-align: left;}}
    .footerContainer-home .footer-link-section .subscribeform input[type=text]{ width: 100%;}
    .page-local-nav-fixed{ position: relative!important; top: 0px!important;}
    .top-navbar .price-plans::after{ background: transparent!important; box-shadow:none!important;}
    .top-navbar .freePlan-nav button{ float: none!important;}
    .plan-table{ font-size: 12px;}
    .blog-banner{ padding: 50px;}
    .blog-banner::before{ left: 0;}
    .blog-banner .bannerimg{ margin-top: 10px;}
    .page-local-nav-fixed{ height: 100%!important;}
    .container-home h2{ font-size: 30px;    line-height: 35px;}
    .new-banner section h3{ font-size: 30px;    line-height: 35px;}
    .check-heading{margin: 0 0 5px 0;} 
    .getStarted .white-btn{ float: left;}


    .left-navigation{ display: none;}
    .main-container{width:100%}
    .project-name{width: 52%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 27px;}
        .whathappens .heading{ font-size: 30px;line-height: 35px;}
        .whathappens .heading img{margin: -110px 0px 0px -39px;}
        .whathappens .heading .sub-heading{font-size: 14px;}
        .whathappens{ background: #d7eeff; padding: 100px 0px 50px 0px;} 
        .whathappens::before{}

}


 

// @media (min-width:650px) and (max-width:1280px){ .page-local-nav-fixed{ position: relative;}
//     .result-pages .cardBox h3{ margin: 0px;     overflow: hidden;      text-overflow: ellipsis; white-space:nowrap;} 
//     .result-pages .cardBox .result-toolbar{float: right; width:50%;}
// }

