.mobileprofile {
    &-avatar {
        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            text-align: center;
            margin: 0 auto;
            @media only screen and (max-width: 400px) {
                width: 200px;
                height: 200px;
            }
        }
    }
    &-about {
        width: 100%;
        padding: 20px;
        text-align: center;
        color: black;
        h1 {
            font-size: 24px;
            font-weight: bold;
        }
        span {
            font-size: 14px;
            font-weight: bold;
        }
        div {
            margin: 15px 8% 0px;
        }
        &-about__servicecompany {
        }
    }
}

.mobileprofile-about__servicecompany {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.mobileprofile {
    @media only screen and (min-width: 900px) {
        display: none;
    }
}
