@import "../../../assets/scss/variables";

.team-header {
    padding-top: 80px;
    background-image: url(./IMG-20220309-WA0015.jpg);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    font-family: $font_Manrope;

    &_info {
        margin: 0 auto;
        padding: 50px 50px 0px;
        h1 {
            color: white;
            font-size: 50px;
            text-align: left;
            margin: 0px;
            margin-bottom: 10px;
            font-weight: bold;
            text-transform: capitalize;
            font-family: $font_Manrope;
            @media only screen and (max-width: 800px) {
                font-size: 20px;
            }
        }
        div {
            border: 3px solid white;
            padding: 20px 0px;
            font-size: 30px;
            border-left: 0px;
            border-right: 0px;
            width: 40%;
            @media only screen and (max-width: 1400px) {
                font-size: 15px;
                width: 60%;
            }
            @media only screen and (max-width: 1200px) {
                font-size: 15px;
                width: 65%;
            }
            @media only screen and (max-width: 800px) {
                font-size: 15px;
                width: 70%;
            }
        }
    }
}
