.btnUpgradeAcc{
    border-radius: 1vh;
    border: 1px solid #0061f4;
    background-color: #fff;
    color: #0061f4;
    margin-right: 13px;
    padding: 1.2vh;
}

.btnUpgradeAcc:hover{
    border: none;
    background-color: #0061f4;
    color: #fff;
}

@media screen and (max-width: 378px){
    .btnUpgradeAcc{
   display: none;
}}