// .preview {
//     min-height: 70vh;
//     border: 2px solid black;
// }

// .emailContainer {
//   align-content: center;
//   padding: 4vh;
//   margin: 2vh;
// }

// .heading {
//     display: flex;
//     align-items: center;
//   }
  
//   #logo {
//     width: 5vh;
//     height: 5vh;
//   }
  
//   #title {
//     padding-left: 2vh;
//   }

//   .sendemailbtn{
//     float: right;
//     margin-right: 4.9vh;
//     height: 7.5vh;
//     width: 15%;
//     border: none;
//     background-color: #0061f4;
//     color: #ffffff;
//     border-radius: 0.5vh;
//   }
  
//   .sendemailbtn:hover{
//     color: #9bbff5;
//     font-weight: bold;
//     background-color: #ffffff;
//     box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//     border: none;
//     border-radius: 0.5vh;
//   }

//   .editorSection{
//     margin-top: 8vh;
//   }

//   .choiceHeader{
//     position: relative;
//     align-items: center;
//     margin: 3vh 0 3vh 1vh;
//     background-color: rgb(216, 215, 215);
//     border-radius: 1vh;
//     width: 96.4%;
//     padding: 1vh;
//   }
  
//   .choiceHeaderoptns{
//     display: inline-flex;
//   }

//   .choiceHeaderoptns .active{
//     float: left;
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
//     font-size: 2vh;
//     border-radius: 1vh;
//     margin-left: 3vh;
//     margin-right: 3vh;
//     padding: 0 2vh 0 2vh;
//     height: 5vh;
//   }
  
//   .choiceHeaderoptns p{
//     padding-top: 1vh;
//     color: #223354;
//     margin-left: 1vh;
//     margin-right: 1vh;
//     font-size: 2vh;
//     cursor: pointer;
//   }
  
//   .choiceHeaderbtns{
//     position: absolute;
//     top: 0;
//     right: 0;
//     margin-top: 1vh;
//     margin-left: 3vh;
//     align-items: center;
//   }
  
//   .choiceHeaderbtns button{
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1vh;
//     margin-right: 1vh;
//   }
  
//   .choiceHeaderbtns button:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: solid #0061f4 0.1vh;
//   }

//   .choiceHeaderbtns .sendmsgbtn{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: solid #0061f4 0.1vh;
//   }

//   .choiceHeaderbtns .sendmsgbtn:hover{
//     color: #0061f4;
//     background-color: #ffffff;
//     border: solid #0061f4 0.1vh;
//   }
  
  
//   .editor{
//     margin-left: 1vh;
//     display: flex;
//     align-items: center;
//   }
    
//   .screenMode{
//     display: inline-flex;
//     align-items: center;
//   }
  
//   #ssicon1{
//     background-color: #0061f4;
//     padding: 1.5vh;
//     border-radius: 0.5vh 0 0 0.5vh;
//   }
  
//   #ssicon2{
//     padding: 1vh 2vh 1vh 2vh;
//     background-color: #ffffff;
//     border: 0.1vh solid gray;
//     border-radius: 0 0.5vh 0.5vh 0;
//   }
  
//   .screenMode button{
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1.5vh 3vh 1.5vh 3vh;
//     margin-right: 4vh;
//   }
  
//   .screenMode button:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
//   }

//   .editorComp{
//      margin: 2vh 0 2vh 0;
//   }

//   @media screen and (max-width: 1670px){
//     .choiceHeaderbtns{
//       margin-top: 1vh;
//       margin-left: 10vh;
//     } 
// }

// @media screen and (max-width: 1430px){
//   .choiceHeaderbtns{
//     margin-top: 1vh;
//     margin-left: 1vh;
//   } 
// }

// .search{
//   display: flex;
//   text-align: center;
//   align-content: center;
//   align-items: center;
//   margin: 2vh 0vh 0vh 0.5vh;
// }


// #searchmain{
//   margin: 2vh 0.5vh 0.5vh 1.5vh ;
//   height: 6vh;
//   margin: 1vh;
//   border: none;
//   border-radius: 0.5vh;
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   padding: 6px, 9px, 6px, 10px ;
//   outline: none;  
//   width: 80.5%;
// }

// #searchbtn{
//   float: right;
//   height: 5.9vh;
//   width: 15%;
//   border: none;
//   background-color: #0061f4;
//   color: #ffffff;
//   border-radius: 0.5vh;
// }

// #searchbtn:hover{
//   color: #9bbff5;
//   font-weight: bold;
//   background-color: #ffffff;
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   border: none;
//   border-radius: 0.5vh;
// }

// .options{
//   display: flex;
// }

// .category{
//   width: 75%;
// }

// .category button{
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1vh;
//     margin: 0.5vh 1.5vh 0.5vh 1.5vh;
// }

// .category button:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
// }

// .sorting{
//   width: 20.5%;
//   position: relative;
//   left: 18px;
// }

// #choice{
//   padding: 1vh;
//   margin: 0.5vh;
//   border: 0.1px solid gray;
// }

// .cards{
//   text-align: center;
// }

// .cards > .cardnoti{
//   display: inline-block;
// }

// .cardnoti{
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   height: 710px;
//   width: 350px;
//   margin: 2vh 3vh 4vh 0vh;
//   background-color: #ffffff;
//   display: block;
//   text-align: center;
// }


// .cardnoti p{
//   padding-top: 2vh;
//   margin-bottom: 2vh;
//   text-align: center;
//   align-items: center;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
// }

// .cardnoti img{
//   height: 70%;
//   width: 100%;
//   text-align: center;
//   margin: 0.5vh 0 0.5vh 0;
// }

// .cardnoti #previewbtn{
//   text-align: center;
//   width: 85%;
//   border: none;
//   background-color: #0061f4;
//   color: #ffffff;
//   border-radius: 0.5vh;
//   margin: 3vh 0.5vh 0.5vh 0.5vh;
//   padding: 1vh;
// }

// .cardnoti #previewbtn:hover{
//   background-color: #ffffff;
//   color: #0061f4;
//   border: 1px solid #0061f4;
// }

// .cardnoti #templatebtn{
//     width: 85%;
//     text-align: center;
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1vh;
//     margin: 0.5vh ;
// }

// .cardnoti #templatebtn:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
// }

.templatenoti {
  margin: 2vw;
  padding: 0;
  box-sizing: border-box;
}

.headingnt {
  display: flex;
  align-items: center;
}

.headingnt img {
  height: 3.5vw;
  width: 3.5vw;
  padding: 0.5vw;
}

.headingnt h1 {
  font-size: 2vw;
  padding: 0.5vw;
}

.choiceHeadentemp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 215, 215);
  width: 100%;
  height: auto;
  border-radius: 0.5vw;
  padding: 1vw;
  margin: 2vw 0;
}

.choiceHeaderoptntemp {
  display: flex;
  align-items: center;
}

.choiceHeaderoptntemp a {
  font-size: 0.8vw;
  margin: 0 1vw;
}

.choiceHeaderoptntemp .activent {
  font-size: 0.8vw;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.3vw;
  padding: 0.5vw;
  margin: 0 1vw;
}

.choiceHeaderbtnsntemp{
  display: flex;
  align-items: center;
}

.choiceHeaderbtnsntemp button {
  font-size: 0.8vw;
  background-color: #ffffff;
  border-radius: 0.4vw;
  color: #0061f4;
  border: 0.1vw solid #0061f4;
  padding: 0.5vw;
  margin: 0 0.3vw;
}

.choiceHeaderbtnsntemp .sendmsgbtn{
  background-color: #0061f4;
  border-radius: 0.4vw;
  color: #ffffff;
  border: 0.1vw solid #0061f4;
}

.choiceHeaderbtnsntemp button:hover {
  background-color: #0061f4;
  border-radius: 0.4vw;
  color: #ffffff;
  border: 0.1vw solid #0061f4;
}

.choiceHeaderbtnsntemp .sendmsgbtn:hover{
  background-color: #ffffff;
  border-radius: 0.4vw;
  color: #0061f4;
  border: 0.1vw solid #0061f4;
}

.editornt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 2vw 2vw 0;
}

.editornt button {
  font-size: 0.8vw;
  background-color: #ffffff;
  border-radius: 0.4vw;
  color: #0061f4;
  border: 0.1vw solid #0061f4;
  padding: 0.5vw;
  margin: 0 0.3vw;
}

.editornt button:hover {
  background-color: #0061f4;
  border-radius: 0.4vw;
  color: #ffffff;
  border: 0.1vw solid #0061f4;
}

.searchntemp {
  position: relative;
}

.searchntemp input {
  border: none;
  border-radius: 0.5vh;
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  padding: 1vw 0.2vw;
  width: 100%;
  outline: none;
  font-size: 0.8vw;
}

.searchntemp button {
  font-size: 0.8vw;
  position: absolute;
  margin: 0.5vw 0.8vw 0 0;
  top: 0;
  right: 0;
  z-index: 2;
  height: auto;
  padding: 0.5vw;
  width: 10%;
  border: none;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.5vh;
  cursor: pointer;
}

.searchntemp button:hover {
  color: #9bbff5;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  border: none;
  border-radius: 0.5vh;
}

.line1noti {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 0;
}

.someoptionsnoti button {
  font-size: 0.8vw;
  background-color: #ffffff;
  color: #0061f4;
  border: solid #0061f4 0.1vw;
  border-radius: 0.5vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
}

.someoptionsnoti button:hover {
  background-color: #0061f4;
  color: #ffffff;
  border: solid #0061f4 0.1vw;
}

.line2noti {
  display: flex;
  align-items: center;
  margin: 1vw 0;
}

.line2noti button {
  font-size: 0.8vw;
  background-color: #ffffff;
  color: #0061f4;
  border: solid #0061f4 0.1vw;
  border-radius: 0.5vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
}

.line2noti button:hover {
  background-color: #0061f4;
  color: #ffffff;
  border: solid #0061f4 0.1vw;
}

.cardsnt{
  text-align: center;
}

.cardsnt > .cardnoti{
  display: inline-block;
}

.cardnoti{
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  height: 710px;
  width: 350px;
  margin: 2vh 3vh 4vh 0vh;
  background-color: #ffffff;
  display: block;
  text-align: center;
}


.cardnoti p{
  padding-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  align-items: center;
  font-family: $font_Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.cardnoti img{
  height: 70%;
  width: 100%;
  text-align: center;
  margin: 0.5vh 0 0.5vh 0;
}

.cardnoti #previewbtn{
  text-align: center;
  width: 85%;
  border: none;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.5vh;
  margin: 3vh 0.5vh 0.5vh 0.5vh;
  padding: 1vh;
}

.cardnoti #previewbtn:hover{
  background-color: #ffffff;
  color: #0061f4;
  border: 1px solid #0061f4;
}

.cardnoti #templatebtn{
    width: 85%;
    text-align: center;
    background-color: #ffffff;
    color: #0061f4;
    border: solid #0061f4 0.1vh;
    border-radius: 0.5vh;
    padding: 1vh;
    margin: 0.5vh ;
}

.cardnoti #templatebtn:hover{
    color: #ffffff;
    background-color: #0061f4;
    border: none;
}