.bowl1{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bowl1 h1{
    font-size: 2vw;
}

.bowl1 p{
    font-size: 1vw;
    margin: 0.5vw;
}

// .bowl1 ul{
//     margin: 1vw;
// }

.bowl1 button{
    font-size: 0.8vw;
    background-color: #0061f4;
    border-radius: 0.4vw;
    color: #ffffff;
    border: 0.1vw solid #0061f4;
    padding: 0.5vw;
    margin: 1vw;
  }
  
  .bowl1 button:hover{
    background-color: #ffffff;
    border-radius: 0.4vw;
    color: #0061f4;
    border: 0.1vw solid #0061f4;
  }
