// .preview {
//     min-height: 70vh;
//     border: 2px solid black;
// }

// .emailContainer {
//   align-content: center;
//   padding: 4vh;
//   margin: 2vh;
// }

// .heading {
//     display: flex;
//     align-items: center;
//   }
  
//   #smslogo {
//     width: 5vh;
//     height: 5vh;
//   }
  
//   #title {
//     padding-left: 2vh;
//   }

//   .sendemailbtn{
//     float: right;
//     margin-right: 4.9vh;
//     height: 7.5vh;
//     width: 15%;
//     border: none;
//     background-color: #0061f4;
//     color: #ffffff;
//     border-radius: 0.5vh;
//   }
  
//   .sendemailbtn:hover{
//     color: #9bbff5;
//     font-weight: bold;
//     background-color: #ffffff;
//     box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//     border: none;
//     border-radius: 0.5vh;
//   }

//   .editorSection{
//     margin-top: 8vh;
//   }

//   .choiceHeader{
//     display: inline-flex;
//     align-items: center;
//     text-align: center;
//     margin: 3vh 0 3vh 1vh;
//     background-color: rgb(216, 215, 215);
//     border-radius: 1vh;
//     width: 96.4%;
//     padding: 1vh;
//   }
  
//   .choiceHeader .active{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
//     font-size: 2vh;
//     border-radius: 1vh;
//     margin-left: 1vh;
//     margin-right: 1vh;
//     padding: 0 2vh 0 2vh;
//     height: 5vh;
//   }
  
//   .choiceHeader p{
//     float: left;
//     color: #223354;
//     margin-left: 1vh;
//     margin-right: 1vh;
//     font-size: 2vh;
//     cursor: pointer;
//   }
  
//   .choiceHeader form {
//     margin-left: 1vh;
//   }
  
//   .choiceHead {
//     font-size: 2vh;
//     padding: 10px 8px 10px 14px;
//     background: #d8d7d7;
//     border: none;
//     position: relative;
//   }
  
//   .choiceHead .select{
//     width: 75%;
//   }
  
//   .choiceHead .select select{
//     background: transparent;
//     line-height: 1;
//     border: 0;
//     padding: 0;
//     border-radius: 0;
//     width: 120%;
//     position: relative;
//     z-index: 10;
//     font-size: 1em;
//   }
  
//   #choiceHead{
//     cursor: pointer;
//   }
  
//   #choiceHead:focus, #choiceHead:hover{
//      outline: none;
//   }
  
//   #choiceHead option{
//     background-color: #ffffff;
//     color: black;
//   }

//   // .choiceHeaderbtns{
//   //   margin-top: 1vh;
//   //   margin-left: 3vh;
//   //   align-items: center;
//   // }
  
//   // .choiceHeaderbtns button{
//   //   background-color: #ffffff;
//   //   color: #0061f4;
//   //   border: solid #0061f4 0.1vh;
//   //   border-radius: 0.5vh;
//   //   padding: 1vh;
//   //   margin-right: 1vh;
//   // }
  
//   // .choiceHeaderbtns button:hover{
//   //   color: #ffffff;
//   //   background-color: #0061f4;
//   //   border: none;
//   // }
 

//   .editorComp{
//      margin: 2vh 0 2vh 0;
//   }

//   @media screen and (max-width: 1670px){
//     .choiceHeaderbtns{
//       margin-top: 1vh;
//       margin-left: 10vh;
//     } 
// }

// @media screen and (max-width: 1430px){
//   .choiceHeaderbtns{
//     margin-top: 1vh;
//     margin-left: 1vh;
//   } 
// }

// .searchsms{
//   display: flex;
//   text-align: center;
//   align-content: center;
//   align-items: center;
// }


// #searchmainsms{
//   height: 6vh;
//   margin: 1vh;
//   border: none;
//   border-radius: 0.5vh;
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   padding: 6px, 9px, 6px, 10px ;
//   outline: none;  
//   width: 80.5%;
// }

// #searchbtnsms{
//   float: right;
//   height: 5.9vh;
//   width: 15%;
//   border: none;
//   background-color: #0061f4;
//   color: #ffffff;
//   border-radius: 0.5vh;
// }

// #searchbtnsms:hover{
//   color: #9bbff5;
//   font-weight: bold;
//   background-color: #ffffff;
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   border: none;
//   border-radius: 0.5vh;
// }

// .options{
//   display: flex;
//   margin-bottom: 2vh;
// }

// .category{
//   width: 75%;
// }

// .category button{
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1vh;
//     margin: 0.5vh 1.5vh 0.5vh 1.5vh;
// }
// .category button:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
// }

// .sorting{
//   width: 20.5%;
//   position: relative;
//   left: 18px;
// }

// #choice{
//   padding: 1vh;
//   margin: 0.5vh;
//   border: 0.1px solid gray;
// }

// .cards{
//   text-align: center;
// }

// .cards > .card{
//   display: inline-block;
// }

// .cardsms{
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   height: 400px;
//   width: 350px;
//   margin: 4vh 3vh 4vh 0vh;
//   background-color: #ffffff;
//   display: inline-block;
//   text-align: center;
// }

// .cardsms .heading{
//   padding-top: 2vh;
//   margin-bottom: 2vh;
//   justify-content: center;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
// }

// .cardsms .content{
//   justify-content: center;
//   height: 50%;
//   font-weight: 500;
//   padding: 1vh;
// }

// .cardsms #preview{
//   text-align: center;
//   width: 85%;
//   border: none;
//   background-color: #0061f4;
//   color: #ffffff;
//   border-radius: 0.5vh;
//   margin: 1vh;
//   padding: 1vh;
// }

// .cardsms #preview:hover{
//   background-color: #ffffff;
//   color: #0061f4;
//   border: 1px solid #0061f4;
// }

// .cardsms #template{
//     width: 85%;
//     text-align: center;
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1vh;
//     margin: 1vh;
// }

// .cardsms #template:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
// }

.smsContainer{
  margin: 2vw;
  padding: 0;
  box-sizing: border-box;
}

.headingsms{
  display: flex;
  align-items: center;
}

.headingsms img{
  height: 3.5vw;
  width: 3.5vw;
  padding: 0.5vw;
}

.headingsms h1{
  font-size: 2vw;
  padding: 0.5vw;
}

.choiceHeadersms{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 215, 215);
  width: 100%;
  height: auto;
  border-radius: 0.5vw;
  padding: 1vw;
  margin: 2vw 0;
}

.choiceHeaderoptsms{
  display: flex;
  align-items: center;
}

.choiceHeaderoptsms .activesms{
  font-size: 0.8vw;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.3vw;
  padding: 0.5vw;
  margin: 0 1vw;
}

.choiceHeaderoptsms a{
  font-size: 0.8vw;
  margin: 0 1vw;
}

.optionsms{
  display: flex;
  align-items: center;
}
.optionsms button{
  font-size: 0.8vw;
  background-color: #ffffff;
  border-radius: 0.4vw;
  color: #0061f4;
  border: 0.1vw solid #0061f4;
  padding: 0.5vw;
  margin: 0 0.3vw;
}

.optionsms button:hover{
  background-color: #0061f4;
  border-radius: 0.4vw;
  color: #ffffff;
  border: 0.1vw solid #0061f4;
}

.searchsmst {
  position: relative;
}

.searchsmst input {
  border: none;
  border-radius: 0.5vh;
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  padding: 1vw 0.2vw;
  width: 100%;
  outline: none;
  font-size: 0.8vw;
}

.searchsmst button {
  font-size: 0.8vw;
  position: absolute;
  margin: 0.5vw 0.8vw 0 0;
  top: 0;
  right: 0;
  z-index: 2;
  height: auto;
  padding: 0.5vw;
  width: 10%;
  border: none;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.5vh;
  cursor: pointer;
}

.searchsmst button:hover {
  color: #9bbff5;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  border: none;
  border-radius: 0.5vh;
}

.line1st {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 0;
}

.someoptionsst button {
  font-size: 0.8vw;
  background-color: #ffffff;
  color: #0061f4;
  border: solid #0061f4 0.1vw;
  border-radius: 0.5vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
}

.someoptionsst button:hover {
  background-color: #0061f4;
  color: #ffffff;
  border: solid #0061f4 0.1vw;
}

.line2st {
  display: flex;
  align-items: center;
  margin: 1vw 0;
}

.line2st button {
  font-size: 0.8vw;
  background-color: #ffffff;
  color: #0061f4;
  border: solid #0061f4 0.1vw;
  border-radius: 0.5vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
}

.line2st button:hover {
  background-color: #0061f4;
  color: #ffffff;
  border: solid #0061f4 0.1vw;
}

.cards{
    text-align: center;
  }
  
  .cards > .card{
    display: inline-block;
  }
  
  .cardsms{
    box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
    height: 400px;
    width: 350px;
    margin: 4vh 3vh 4vh 0vh;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
  }
  
  .cardsms .heading{
    padding-top: 2vh;
    margin-bottom: 2vh;
    justify-content: center;
    font-family: $font_Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
  
  .cardsms .content{
    justify-content: center;
    height: 50%;
    font-weight: 500;
    padding: 1vh;
  }
  
  .cardsms #preview{
    text-align: center;
    width: 85%;
    border: none;
    background-color: #0061f4;
    color: #ffffff;
    border-radius: 0.5vh;
    margin: 1vh;
    padding: 1vh;
  }
  
  .cardsms #preview:hover{
    background-color: #ffffff;
    color: #0061f4;
    border: 1px solid #0061f4;
  }
  
  .cardsms #template{
      width: 85%;
      text-align: center;
      background-color: #ffffff;
      color: #0061f4;
      border: solid #0061f4 0.1vh;
      border-radius: 0.5vh;
      padding: 1vh;
      margin: 1vh;
  }
  
  .cardsms #template:hover{
      color: #ffffff;
      background-color: #0061f4;
      border: none;
  }