.glassmorphic-container > div {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px) saturate(100%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 200px;
  padding: 20px 20px;
  font-size: medium;
  text-align: center;
}

.glassmorphic-container > div:nth-child(1) {
  animation: path1 8s infinite linear;
}

.glassmorphic-container > div:nth-child(2) {
  animation: path1 8s infinite linear;
}

.glassmorphic-container > div:nth-child(3) {
  animation: path1 8s infinite linear;
}

@keyframes path1 {
  0% {
    transform: translateX(0%);
  }
  45% {
    transform: translateX(calc(-40px));
  }
  80% {
    transform: translateY(calc(-20px));
  }
  100% {
    transform: translateX(0%);
  }
}

.heroSection {background:#503bfc;
  /* background-image: url("/public/images/heroImage.jpg"); */
}
.conversion {
  top: 20rem;
  right: 22rem;
}

.retention {
  top: 33rem;
  right: 22rem;
  height: 65px;
}

.lifetime {
  bottom: -6.5rem;
}

/* @media only screen and (max-width: 960px) {
  .heroSection {
    background-image: url("/public/images/mobileHeroImage.jpg") !important;
  }
} */

input.workEmailPlaceholder::placeholder {
  color: #fff !important;
}
