.row1{
    animation: scrollL 50s infinite linear;
}

@keyframes scrollL {
    
    0%{
        transform: translateX(0%);
    }
    47%{
        transform: translateX(calc(-220px * 12));
    }
    50%{
        transform: translateX(calc(-220px * 12));
    }
    5%{
        transform: translateX(0%);
    }
}

.row2{
    animation: scrollR 30s infinite linear;
}

@keyframes scrollR {
    0%{
        transform: translateX(0%);
    }
    47%{
        transform: translateX(calc(220px * 4));
    }
    50%{
        transform: translateX(calc(220px * 4));
    }
    5%{
        transform: translateX(0%);
    }
}

.logoThumbnail {
    box-shadow: 0 3px 14px rgb(0 0 0 / 0.2);
}