// .preview {
//     min-height: 70vh;
//     border: 2px solid black;
// }

// .emailContainer {
//   align-content: center;
//   padding: 4vh;
//   margin: 2vh;
// }

// .heading {
//     display: flex;
//     align-items: center;
//   }
  
//   #logo {
//     width: 5vh;
//     height: 5vh;
//   }
  
//   #title {
//     padding-left: 2vh;
//   }

//   .sendemailbtn{
//     float: right;
//     margin-right: 4.9vh;
//     height: 7.5vh;
//     width: 15%;
//     border: none;
//     background-color: #0061f4;
//     color: #ffffff;
//     border-radius: 0.5vh;
//   }
  
//   .sendemailbtn:hover{
//     color: #9bbff5;
//     font-weight: bold;
//     background-color: #ffffff;
//     box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//     border: none;
//     border-radius: 0.5vh;
//   }

//   .editorSection{
//     margin-top: 8vh;
//   }

//   .choiceHeaderwsapp{
//     position: relative;
//     display: inline-flex;
//     align-items: center;
//     text-align: center;
//     margin: 3vh 0 1vh 1vh;
//     background-color: rgb(216, 215, 215);
//     border-radius: 1vh;
//     width: 96.4%;
//     padding: 1vh;
//   }

//   .choiceHeaderwsapp .active{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
//     font-size: 2vh;
//     border-radius: 1vh;
//     margin-left: 3vh;
//     margin-right: 3vh;
//     padding: 0 2vh 0 2vh;
//     height: 5vh;
//   }
  
//   .choiceHeaderwsapp p{
//     float: left;
//     color: #223354;
//     font-size: 2vh;
//     cursor: pointer;
//   }
  
//   .choiceHeaderbtns{
//     position: absolute;
//     top: 0;
//     right: 0;
//     margin-top: 1vh;
//     margin-left: 3vh;
//     align-items: center;
//   }
  
//   .choiceHeaderbtns button{
//     z-index: 2;
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1vh;
//     margin-right: 1vh;
//   }
  
//   .choiceHeaderbtns button:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
//   }
  
 

//   .editorComp{
//      margin: 2vh 0 2vh 0;
//   }

// //   @media screen and (max-width: 1670px){
// //     .choiceHeaderbtns{
// //       margin-top: 1vh;
// //       margin-left: 10vh;
// //     } 
// // }

// // @media screen and (max-width: 1430px){
// //   .choiceHeaderbtns{
// //     margin-top: 1vh;
// //     margin-left: 1vh;
// //   } 
// // }

// .searchwsapp{
//   display: flex;
//   text-align: center;
//   align-content: center;
//   align-items: center;
// }


// #searchmain{
//   margin: 1vh 0.5vh 0.5vh 1.5vh ;
//   height: 6vh;
//   margin: 1vh;
//   border: none;
//   border-radius: 0.5vh;
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   padding: 6px, 9px, 6px, 10px ;
//   outline: none;  
//   width: 80.5%;
// }

// #searchbtn{
//   float: right;
//   height: 5.9vh;
//   width: 15%;
//   border: none;
//   background-color: #0061f4;
//   color: #ffffff;
//   border-radius: 0.5vh;
// }

// #searchbtn:hover{
//   color: #9bbff5;
//   font-weight: bold;
//   background-color: #ffffff;
//   box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
//   border: none;
//   border-radius: 0.5vh;
// }

// .options{
//   display: flex;
//   margin-bottom: 2vh;
//   margin-top: 2vh;
// }

// .category{
//   width: 75%;
// }

// .category button{
//     background-color: #ffffff;
//     color: #0061f4;
//     border: solid #0061f4 0.1vh;
//     border-radius: 0.5vh;
//     padding: 1vh;
//     margin: 0.5vh 1.5vh 0.5vh 1.5vh;
// }
// .category button:hover{
//     color: #ffffff;
//     background-color: #0061f4;
//     border: none;
// }

// .sorting{
//   width: 20.5%;
//   position: relative;
//   left: 18px;
// }

// #choice{
//   padding: 1vh;
//   margin: 0.5vh;
//   border: 0.1px solid gray;
// }

.cardwhatsapp{
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  height: 410px;
  width: 350px;
  margin: 4vh 3vh 4vh 0vh;
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
}

.cardwhatsapp .heading{
  padding-top: 2vh;
  margin-bottom: 2vh;
  justify-content: center;
  font-family: $font_Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.cardwhatsapp .content{
  justify-content: center;
  height: 45%;
  font-weight: 500;
  padding: 1vh;
}

.cardwhatsapp #preview{
  text-align: center;
  width: 85%;
  border: none;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.5vh;
  margin: 1vh;
  margin-top: 7vh;
  padding: 1vh;
}

.cardwhatsapp #preview:hover{
  background-color: #ffffff;
  color: #0061f4;
  border: 1px solid #0061f4;
}

.cardwhatsapp #template{
    width: 85%;
    text-align: center;
    background-color: #ffffff;
    color: #0061f4;
    border: solid #0061f4 0.1vh;
    border-radius: 0.5vh;
    padding: 1vh;
    margin: 1vh;
}

.cardwhatsapp #template:hover{
    color: #ffffff;
    background-color: #0061f4;
    border: none;
}

.wsappContainer {
  margin: 2vw;
  padding: 0;
  box-sizing: border-box;
}

.headingws{
  display: flex;
  align-items: center;
}

.headingws img{
  height: 3.5vw;
  width: 3.5vw;
  padding: 0.5vw;
}

.headingws h1{
  font-size: 2vw;
  padding: 0.5vw;
}

.choiceHeaderwsapps{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 215, 215);
  width: 100%;
  height: auto;
  border-radius: 0.5vw;
  padding: 1vw;
  margin: 2vw 0;
}

.choiceHeaderoptsws{
  display: flex;
  align-items: center;
}

.choiceHeaderoptsws a{
  font-size: 0.8vw;
  margin: 0 1vw;
}

.choiceHeaderoptsws .activews{
  font-size: 0.8vw;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.3vw;
  padding: 0.5vw;
  margin: 0 1vw;
}

.buttonswss{
  display: flex;
  align-items: center;
}

.buttonswss button{
  font-size: 0.8vw;
  background-color: #ffffff;
  border-radius: 0.4vw;
  color: #0061f4;
  border: 0.1vw solid #0061f4;
  padding: 0.5vw;
  margin: 0 0.3vw;
}

.buttonswss button:hover{
  background-color: #0061f4;
  border-radius: 0.4vw;
  color: #ffffff;
  border: 0.1vw solid #0061f4;
}

.screenModewsappscratch{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 2vw 2vw 0;
}

.screenModewsappscratch button{
  font-size: 0.8vw;
  background-color: #ffffff;
  border-radius: 0.4vw;
  color: #0061f4;
  border: 0.1vw solid #0061f4;
  padding: 0.5vw;
  margin: 0 0.3vw;
}

.searchet {
  position: relative;
}

.searchet input {
  border: none;
  border-radius: 0.5vh;
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  padding: 1vw 0.2vw;
  width: 100%;
  outline: none;
  font-size: 0.8vw;
}

.searchet button {
  font-size: 0.8vw;
  position: absolute;
  margin: 0.5vw 0.8vw 0 0;
  top: 0;
  right: 0;
  z-index: 2;
  height: auto;
  padding: 0.5vw;
  width: 10%;
  border: none;
  background-color: #0061f4;
  color: #ffffff;
  border-radius: 0.5vh;
  cursor: pointer;
}

.searchet button:hover {
  color: #9bbff5;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 2px rgba(25, 117, 255, 0.25), 0px 2px 5px 1px rgba(25, 117, 255, 0.35);
  border: none;
  border-radius: 0.5vh;
}

.line1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 0;
}

.someoptions button {
  font-size: 0.8vw;
  background-color: #ffffff;
  color: #0061f4;
  border: solid #0061f4 0.1vw;
  border-radius: 0.5vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
}

.someoptions button:hover {
  background-color: #0061f4;
  color: #ffffff;
  border: solid #0061f4 0.1vw;
}

.line2 {
  display: flex;
  align-items: center;
  margin: 1vw 0;
}

.line2 button {
  font-size: 0.8vw;
  background-color: #ffffff;
  color: #0061f4;
  border: solid #0061f4 0.1vw;
  border-radius: 0.5vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
}

.line2 button:hover {
  background-color: #0061f4;
  color: #ffffff;
  border: solid #0061f4 0.1vw;
}

.screenModewsappscratch button:hover{
  background-color: #0061f4;
  border-radius: 0.4vw;
  color: #ffffff;
  border: 0.1vw solid #0061f4;
}