.subMenu3 {
    padding: 30px 20px;
    width: 100%;
    width: 410px;

    .submenu3Item {
        display: block;
        position: relative;
        z-index: 1;
        padding: 18px 60px;
    }

    span {
        font-weight: 600;
    }

    .submenu3Item::before {
        content: "";
        height: 40px;
        position: absolute;
        width: 43px;
        background-repeat: no-repeat;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        margin: 0;
        background-image: url("./drop-down-icons.svg");
    }

    .Email::before {
        background-position: -213px -88px;
    }

    .SMS::before {
        background-position: -53px -88px;
    }
    .WhatsApp::before {
        background-position: -212px -181px;
    }

    .webPush::before {
        background-position: -159px -90px;
    }

    .mobilePush::before {
        background-position: -211px -45px;
    }

    .Facebook::before {
        background-position: -161px -177px;
    }

    .Google::before {
        background-position: -52px -313px;
    }
}
