:root {
    padding: 0px;
    margin: auto;
}

.preview {
    min-height: 70vh;
}

.editorem {
    min-width: 75vw;
}

.masterdiv {
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

.emailEditorbtn {
    font-family: $font_Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0.4vw;
    color: #1A75FF;
    border: 0.1vw solid #1A75FF;
    padding: 8px 10px;
    margin: 0.3vw;
    margin-bottom: 1vw;
}

.emailEditorbtn:hover {
    background-color: #1A75FF;
    border-radius: 0.4vw;
    color: #ffffff;
    border: 0.1vw solid #1A75FF;
    cursor: pointer;
}

// @media screen and (max-width: 1076px){
    
// }
