.wrapper-class {
    min-height: 100%;
    border: 1px solid black;
    border-top: none;
    padding: 1rem;
    margin-right: 2vh;
    border: 1px solid #ccc;
    flex: 0.5;
} 
.editor-class {
    padding: 1rem;
    border: 1px solid #ccc;
    border-top: none;
    min-height: 70vh;
    min-width: 100vw;
}
.toolbar-class {
    border: 1px solid #ccc;
    border-top: none;
}
.App{
    position: relative;
    left: 1vh;
}
